@import "resert.css";
@import "vars.css";

body{
    font-family: var(--font-main);
    font-size: 14px;
    line-height: 19px;
    font-weight: 400;
    color: var(--text-color);
}

a{
    color: inherit;
}

.container{
    max-width: 1220px;
    padding: 0 10px;
    margin: 0 auto;    
}

.title{
    color: var(--title-muted);
    font-size: 24px;
    line-height: 33px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: clamp(40px, 1.778rem + 3.08vw, 60px);
}

.header{
    background-image: url(../images/header-bg.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: var(--header-text-color);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 70px 10px 38px;
    margin-bottom: 150px;
}

.header__subtitle{
    font-size: clamp(16px, 0.901rem + 0.29vw, 18px);
    line-height: clamp(22px, 1.226rem + 0.44vw, 25px);
    font-weight: 400;
    margin-top: auto;
}

.header__title{
    font-size: clamp(32px, 0.412rem + 4.71vw, 64px);
    line-height: clamp(28px, -1.178rem + 8.68vw, 87px);
    font-weight: 700;
}

.header__title span{
    display: block;
    font-size: clamp(22px, 0.382rem + 2.94vw, 42px);
    line-height: clamp(28px, 0.311rem + 4.26vw, 57px);
}

.header__button{
    margin-top: 50px;
    margin-bottom: auto;
    align-self: center;
}

.button__path{
    transition: fill .5s;
}

.button:hover .button__path{
    fill: var(--ui-yellow);
}

.button__text{
    font-size: 18px;
    line-height: 25px;
    display: inline-block;
    transform: translateY(-17px);
    margin-left: -57px;

    @media (max-width: 375px) {
        margin-left: -76px;
    }
}

.social{
    display: flex;
    justify-content: center;
    align-items: center;
}

.social__link{
    padding: 0 10px;
}

/*----------services----------*/

.services{
    margin-bottom: 150px;
}

.services__inner{
    display: flex;

    @media (max-width: 1024px) {
        flex-wrap: wrap;
    }
}

.services__content{
  flex-basis: 510px;
  margin-right: 80px;
  
  @media (max-width: 1024px) {
    flex-basis: 100%;
    margin-right: 0;
  }
}

.services__box{
    margin-bottom: clamp(30px, 1.153rem + 3.08vw, 50px);
}

.services__box-title{
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 15px;
}

.services__img{
    flex-basis: 600px;
    object-fit: cover;

    @media (max-width: 1024px) {
        width: 100%;
        height: 400px;
    }
}

/*----------info----------*/

.info{
    margin-bottom: 150px;
}

.info__inner{
    display: flex;

    @media (max-width: 1240px) {
        flex-wrap: wrap-reverse;
    }
}

.info__box{
    flex-basis: 510px;
    margin-right: 90px;

    @media (max-width: 1240px) {
        flex-basis: 100%;
        margin-right: 0;
        display: flex;
    }

    @media (max-width: 826px) {
        display: block;
    }
}

.info__content{
    flex-basis: 600px;

    @media (max-width: 1240px) {
        flex-basis: 100%;
    }
}

.info__content-text{
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
    margin-bottom: 17px;
}

.info__content-img{
    @media (max-width: 1240px) {
        display: none;
    }
}

.info-tabs{
    margin-bottom: 100px;

    @media (max-width: 1240px) {
        margin-bottom: 40px;
    }
}

.info-tabs__items{
    margin-bottom: 120px;

    @media (max-width: 1240px) {
        margin-bottom: 40px;
    }

    @media (max-width: 540px) {
        text-align: center;
    }
}

.info-tabs__item{
    font-size: 18px;
    line-height: 25px;
    margin-right: 40px;

    @media (max-width: 540px) {
        margin-right: 0;
        padding: 10px 0;
        display: block;
        text-align: center;
    }
}

.info-tabs__item--active{
    border-bottom: solid 1px var(--text-color);

    @media (max-width: 540px) {
        display: inline-block;
    }
}

.info-tabs__content{
    display: none;
}

.info-tabs__content--active{
    display: block;
}

.info-slider{
    max-width: 510px;

    @media (max-width: 540px) {
        max-width: 300px;
        margin: 0 auto;
    }

    @media (max-width: 340px) {
        width: 280px;
    }
}

.info-slider__img{
    margin-right: 40px;
    float: left;

    @media (max-width: 540px) {
        margin-right: 0;
        float: none;
        width: 100%;
        margin-bottom: 25px;
        height: 200px;
        object-fit: cover;
    }
}

.info-slider__text{
    padding-bottom: 15px;

    @media (max-width: 540px) {
        max-width: 510px;
    }
}

.slick-arrow{
    position: absolute;
    left: 275px;
    bottom: -3px;
    z-index: 5;
    cursor: pointer;
}

.slick-left{
    left: 340px;

    @media (max-width: 540px) {
        left: calc(50% + 10px);
    }
}
.slick-right{
    @media (max-width: 540px) {
        left: calc(50% - 50px);
    }
}

.info__list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @media (max-width: 1240px) {
        align-self: start;
        margin-left: 40px;
    }

    @media (max-width: 826px) {
        margin-left: 0;
    }

    @media (max-width: 540px) {
        display: block;
    }
}

.info__list-item{
    flex-basis: 235px;
    margin-bottom: 17px;
}

.info__list-title{
    font-size: 18;
    line-height: 25px;
    font-weight: 700;
    margin-bottom: 5px;
}

/*----------blockquote----------*/

.blockquote{
    padding: 128px 10px 144px;
    background-image: url(../images/blockquote.jpg);
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 150px;

    @media (max-width: 768px) {
        padding: 60px 10px 80px;
    }
}

.blockquote__text{
    max-width: 670px;
    margin: 0 auto;
    font-size: clamp(22px, 0.182rem + 5.09vw, 42px);
    line-height: clamp(28px, 0.021rem + 7.38vw, 57px);
    color: var(--blockquote-text-color);
}

/*----------clients----------*/

.clients{
    margin-bottom: 150px;
}

.clients-slider__box{
    display: flex;

    @media (max-width: 960px) {
        display: block;
    }
}

.clients-slider__box-img{
    flex-basis: 510px;
    margin-right: 90px;
    margin-bottom: 30px;

    @media (max-width: 960px) {
        margin-right: 0;
        width: 100%;
        object-fit: cover;
        height: 400px;
    }
}

.clients-slider__box-title{
    max-width: 478px;
    font-size: 18px;
    line-height: 25px;
    font-weight: 700;
    margin-bottom: 30px;

    @media (max-width: 960px) {
        max-width: 100%
    }
}

.clients-slider__box-list{
    margin-left: 50px;
    margin-bottom: 50px;

    @media (max-width: 540px) {
        margin-left: 0;
    }
}

.clients-slider__box-item{
    margin-bottom: 15px;
}

.slick-arrow path{
    transition: fill .5s;
}

.slick-arrow:hover path{
    fill: var(--ui-yellow);
}

/*----------step----------*/

.step{
    margin-bottom: 150px;
}

.step__inner{
    display: flex;

    @media (max-width: 1024px) {
        flex-wrap: wrap;
    }
}

.step__img{
    flex-basis: 600px;
    object-fit: cover;

    @media (max-width: 1024px) {
        height: 400px;
        width: 100%;
        flex-basis: 100%;
    }
}

.step__content{
    flex-basis: 510px;
    margin-right: 90px;

    @media (max-width: 1024px) {
        flex-basis: 100%;
        margin-right: 0;
    }
}

.step__list{
    list-style: none;
    counter-reset: number;
}

.step__list-item{
    counter-increment: number;
    margin-bottom: 30px;
}

.step__list-item::before{
    content: '0' counter(number);
    margin-bottom: 11px;
    color: var(--title-muted);
}

.step__list-title{
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 2px;
}

/*----------footer----------*/

.footer{
    background-image: url(../images/footer-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 70px 0px 50px;
    color: var(--footer-text-color);
}

.footer__top{
    display: flex;
    margin-bottom: clamp(70px, -7.467rem + 35.09vw, 150px);

    @media (max-width: 768px) {
        flex-wrap: wrap;
    }
}

.footer__form{
    flex-basis: 510px;
    margin-right: 90px;

    @media (max-width: 768px) {
        flex-basis: 100%;
        margin: 0 0 50px 0;
    }
}

.footer__title{
    font-weight: 700;
    font-size: 24px;
    line-height: 43px;
    text-transform: uppercase;
    margin-bottom: clamp(30px, -2.566rem + 13.16vw, 60px);
}

.footer__input{
    border: none;
    border-bottom: 1px solid #fff;
    display: block;
    width: 100%;
    background-color: transparent;
    padding-bottom: 11px;
    font-family: 'Noto Sans', sans-serif;
    font-size: 14px;
    line-height: 19px;
    color: var(--footer-text-color);
    margin-bottom: 60px;
}
 
.footer__input::placeholder{                      /*Для того чтобы текст не изменялся на базовый в поле при вводе*/
    font-family: var(--font-main);
    font-size: 14px;
    line-height: 19px;
    color: var(--footer-text-color);
}

.footer__form-btn{
    background-color: transparent;
    border: none;
    padding: 0;
    color: var(--footer-text-color);
}

.footer__contacts{
    @media (max-width: 768px) {
        text-align: center;
        width: 100%;
    }
}

.footer__contacts-item{
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 30px;
}

.footer__buttom{
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 768px) {
        flex-wrap: wrap;
        justify-content: center;
    }
}

.footer__buttom .logo{
    @media (max-width: 768px) {
        width: 100%;
        margin: 20px 0;
        text-align: center;
    }
}

.footer .social{
    margin-right: -10px;
}

@media (max-width: 640px) {
    .header,
    .services,
    .info,
    .blockquote,
    .clients,
    .step,
    .footer__top{
        margin-bottom: 75px;
    }
}