*,
*::after
*::before{
    box-sizing: border-box;
}

body{
    font-family: 'Noto Sans', sans-serif;
    font-size: 14px;
    line-height: 19px;
    font-weight: 400;
    color: #303030;
}

a{
    color: inherit;
    text-decoration: none;
}

p{
    margin: 0;
}

ul{
    list-style: none;
}

.container{
    max-width: 1220px;
    padding: 0 10px;
    margin: 0 auto;    
}

.title{
    color: #868585;
    font-size: 24px;
    line-height: 33px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 60px;
}

.header{
    background-image: url(../images/header-bg.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 70px 10px 38px;
    margin-bottom: 150px;
}

.header__subtitle{
    font-size: 18px;
    line-height: 25px;
    font-weight: 400;
    margin-top: auto;
}

.header__title{
    font-size: 64px;
    line-height: 87px;
    font-weight: 700;
}

.header__title span{
    display: block;
    font-size: 42px;
    line-height: 57px;
}

.header__button{
    margin-top: 50px;
    margin-bottom: auto;
    align-self: center;
}

.button__path{
    transition: fill .5s;
}

.button:hover .button__path{
    fill: #A9A32A;
}

.button__text{
    font-size: 18px;
    line-height: 25px;
    display: inline-block;
    transform: translateY(-17px);
    margin-left: -57px;
}

.social{
    display: flex;
    justify-content: center;
    align-items: center;
}

.social__link{
    padding: 0 10px;
}

/*----------services----------*/

.services{
    margin-bottom: 150px;
}

.services__content{
  flex-basis: 510px;
  margin-right: 90px;
}

.services__box{
    margin-bottom: 50px;
}

.services__box-title{
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 15px;
}

.services__img{
    object-fit: cover;
}

/*----------info----------*/

.info{
    margin-bottom: 150px;
}

.info__inner{
    display: flex;
}

.info__box{
    flex-basis: 510px;
    margin-right: 90px;
}

.info__content{
    flex-basis: 600px;
}

.info__content-text{
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
    margin-bottom: 17px;
}

.info-tabs{
    margin-bottom: 100px;
}

.info-tabs__items{
    margin-bottom: 120px;
}

.info-tabs__item{
    font-size: 18px;
    line-height: 25px;
    margin-right: 40px;
}

.info-tabs__item--active{
    border-bottom: solid 1px #303030;
}

.info-tabs__content{
    display: none;
}

.info-tabs__content--active{
    display: block;
}

.info-slider{
    max-width: 510px;
}

.info-slider__img{
    margin-right: 40px;
    float: left;
}

.info-slider__text{
    padding-bottom: 15px;
}

.slick-arrow{
    position: absolute;
    left: 275px;
    bottom: -3px;
    z-index: 5;
    cursor: pointer;
}

.slick-left{
    left: 340px;
}


.info__list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.info__list-item{
    flex-basis: 235px;
    margin-bottom: 17px;
}

.info__list-title{
    font-size: 18;
    line-height: 25px;
    font-weight: 700;
    margin-bottom: 5px;
}

/*----------info----------*/