*,
*::after
*::before{
    box-sizing: border-box;
}

body{
    font-family: 'Noto Sans', sans-serif;
    font-size: 14px;
    line-height: 19px;
    font-weight: 400;
}

a{
    color: inherit;
    text-decoration: none;
}

p{
    margin: 0;
}

ul{
    list-style: none;
}

.container{
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 10px;
}

.title{
    color: #868585;
    font-size: 24px;
    line-height: 33px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 60px;
}

.header{
    background-image: url(../images/header-bg.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 70px 10px 38px;
    margin-bottom: 150px;
}

.header__subtitle{
    font-size: 18px;
    line-height: 25px;
    font-weight: 400;
    margin-top: auto;
}

.header__title{
    font-size: 64px;
    line-height: 87px;
    font-weight: 700;
}

.header__title span{
    display: block;
    font-size: 42px;
    line-height: 57px;
}

.header__button{
    margin-top: 50px;
    margin-bottom: auto;
}

.button__path{
    transition: fill .5s;
}

.button:hover .button__path{
    fill: #A9A32A;
}

.button__text{
    font-size: 18px;
    line-height: 25px;
    display: inline-block;
    transform: translate(-57px, -17px);
}

.social{
    display: flex;
    justify-content: center;
    align-items: center;
}

.social__link{
    padding: 0 10px;
}

/*----------services----------*/

.services{
    margin-bottom: 150px;
}

.services__inner{
  display: flex;
}

.services__content{
  flex-basis: 510px;
  margin-right: 89px;
}

.services__box + .services__box{
    padding-top: 50px;
}

.services__box-title{
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 15px;
}

.services__img{
    object-fit: cover;
    flex-basis: 600px;
}

.services__box-text{
    max-width: 510px;
}